body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    height: 100%;
}

nav{
    text-align: center;
}

.social {
    display: flex;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.contact-ref {
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 2%;
    transform: translateY(-50%);

   border: solid black;
   border-width:thin;
   border-radius: 150px;
   width: fit-content;
   height: fit-content;
   margin: auto;
   padding: 2%;
   background-color: rgb(248, 250, 153);
   box-shadow: 5px 5px;
}

.Heading__text {
    margin-top: 5%;
    margin-bottom: -5%;
}

.projects-hero {
    height:100vh;
    background: url('/images/Projects-hero-img.jpg');
    background-size:cover;
    position:relative;
}

.CardContainer {
    display: flex;
    justify-content: center;
    border: solid black;
    border-width:thin;
    border-radius: 4rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 5%;
    margin-bottom: 10rem;
    background-color: rgb(245, 184, 110);
    box-shadow: 5px 5px;
 }

 .card {
    margin: 5%;
    box-shadow: 5px 5px;
    border: solid black;
   border-width:thin;
 }

 #ReactJSJobAid {
    margin: 10%;
    padding: 5%;
    border: solid black;
   border-width:thin;
   border-radius: 2rem;
   background-color: rgb(198, 169, 248);
   box-shadow: 5px 5px;
 }

 #reactjsinstallimg {
    box-shadow: 5px 5px;
    border: solid black;
   border-width:thin;
   border-radius: 2rem;
 }
