body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    height: 100%;
    background: linear-gradient(#ffffff, #ecdcbb);
}

#bio_Section {
    margin: 5%;
}

.CardContainer {
   display: flex;
   justify-content: center;
   border: solid black;
   border-width:thin;
   border-radius: 2rem;
   width: fit-content;
   height: fit-content;
   margin: auto;
   padding: 2%;
   margin-bottom: 10rem;
}

.card-group {
    margin: auto;
    width: fit-content;
    height: auto;
}

.card-img-top {
    width: 100%;
    height: 50%;
}

.survey_link {
    display: flex;
   justify-content: center;
   border: solid black;
   border-width:thin;
   border-radius: 2rem;
   width: 50%;
   height: fit-content;
   margin: auto;
   padding: 2%;
   margin-bottom: 10rem;
}

.social {
    display: flex;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/*
.social ul li a {
    color: black;
    background-color: transparent;
    text-decoration: none;
    margin-left: -120px;
    transition: margin-left 500ms;
}
*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2em;
}

